__pycache__/
*.py[cod]
.Python
.venv/
venv/
env/

*.db
*.sqlite
*.sqlite3

photoshare/static/uploads/*
photoshare/static/qrcodes/*
photoshare/static/analytics/*
!photoshare/static/uploads/.gitkeep
!photoshare/static/qrcodes/.gitkeep
!photoshare/static/analytics/.gitkeep

.vercel/
.env
.env.*

.vercel
